.fcontainer{
    border: 2px solid black;
    height:50vh;
    display:flex;
    flex-direction: column-reserve;
    justify-content: flex-end;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-wrap: wrap-reserve;

}